*{
  box-sizing: border-box;
  padding:0;
  margin:0;
}

.page-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height:100vh;
  gap:20px;
}

.infobox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:20px;
}
.vid-description, .vid-analysis, .infobox{
  max-width: 75%;
}
.highlight{
  color:orange;
}

.h8-img {
  width: 50vw;
  max-width: 600px;
}