[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
h8-identifier = {path = "."}
google-api-python-client = "*"
sklearn = "*"

[dev-packages]

[requires]
python_version = "3.9"
