[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
google-api-python-client = "*"
sklearn = "*"
pandas = "*"
tweet-preprocessor = "*"
python-dotenv = "*"
numpy = "*"
gunicorn = "*"
Flask = "*"

flask = "*"
flask-session = "*"


[dev-packages]

[requires]
python_version = "3.9"
