{% extends 'base.html' %}

{% block body %}

<div class="col-xs-12" style="height:250px;"></div>
<main role="main" class="d-flex justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-md-2 center"></div>
            <div class="col-md-8 center">
                <h1 class="text-center">No space for hate</h1>
                <div class="col-xs-12" style="height:50px;"></div>
                <img src="H8 Speech Dector Logo.png" class="rounded mx-auto d-block" alt="H8 Detect" height=250px>
                <h2>Hateful posts and cyberbullying disturb internet users</h2>
                <p>Disturbing posts on minorities, political opponents and content creators can be found all over the
                    internet.
                    Some might be discomforting but others may be threatening.
                    Thera are even structured, organized threat from right-wing trolls and conspiracy theorists,
                    who deliberately torpedo discussions and flood the news feeds and comments of political opponents
                    with hate,
                    insults and death threats. In short: there should be no space for hate speech on the internet.
                    The riots of the Capitol was just one of many events which could possibly be avoided
                    if hate campaigns via social media were detected and the spread blocked.
                </p>
                <h2>The idea of the h8 identifier was born</h2>
                <p>We wanted to train a classifier, which can differentiate between hate and non-hate speech.
                    h8 identifier should give a warning if the threshold for too much hate is reached before such a
                    message can be spread to cause more harm.
                    We started with a team of five people with different backgrounds but one common interest: motivation
                    to make the internet a friendlier place.
                    In our vision the h8 identifier should be displayed as a hate seismograph to screen hateful comments
                    and posts.
                    We focused on youtube, one of the most frequented social media platforms nowadays.
                    Our target group is the youtuber, who can disable these comments, and also people who want to enjoy
                    a video without hateful comments.
                    The h8 identifier should work as a browser extension rather than a bot and ideally should have its
                    own website for users to have a review and give feedback.
                </p>
            </div>
        </div>
    </div>
</main>

{% endblock %}